<style>

</style>

<section 
    fxLayout
    fxLayoutAlign="center"
    class="new-training">
        <mat-card
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex.xs="100%"
            fxFlex.gt-xs="400px">
                <mat-card-title>Time to start a workout!</mat-card-title>
                <mat-card-content>
                    <mat-form-field>
                        <!-- <mat-label>Select type of training</mat-label> -->
                        <mat-select placeholder="Select type of training">
                            <mat-option [value]="'crunches'">
                                Crunches
                            </mat-option>
                            <mat-option [value]="'touch-toes'">
                                Touch Toes
                            </mat-option>
                            <mat-option [value]="'side-lunges'">
                                Side Lunges
                            </mat-option>
                            <mat-option [value]="'burpees'">
                                Burpees
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <button 
                        type="submit"
                        (click)="onStartTraining()"
                        mat-button>Start</button>
                </mat-card-actions>
        </mat-card>
</section>