<!-- mat-toolbar vec koristi FlexBox -->
<mat-toolbar
    fxLayout="row"
    fxLayoutAlign="flex-start center"
    fxLayoutGap="10px"
    color="primary">
        <div>
            <button
                type="button"
                (click)="sidenav.toggle()"
                mat-icon-button
                fxHide.gt-xs>
                    <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div>
            <a routerLink="">LOGO</a>
        </div>
        <div
            fxFlex
            fxLayout="row"
            fxLayoutAlign="flex-end center">
            <ul
                fxLayout
                fxLayoutGap="10px"
                class="navigation-items"
                fxHide.xs>
                    <li>
                        <a routerLink="books">BOOKS</a>
                    </li>
                    <li>
                        <a routerLink="auth/signup">SIGNUP</a>
                    </li>
                    <li>
                        <a routerLink="auth/login">LOGIN</a>
                    </li>
            </ul>
        </div>
</mat-toolbar>