<div fxLayout="column" fxLayoutAlign="center center">
    <h3>{{ ownerName }}'s Shop</h3>

    <div fxLayout="column" fxLayoutAlign="center center">
        <section id="section-owner-name" fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field>
                <mat-label>Owner's name: </mat-label>
                <input 
                    type="text"
                    [(ngModel)]="ownerName"
                    matInput>
            </mat-form-field>
            <mat-form-field>
                <input 
                    [type]="hidePassword ? 'password' : 'text'"
                    placeholder="Your password"
                    matInput>
                <!-- <button 
                    (click)="hidePassword = !hidePassword" 
                    mat-icon-button
                    matSuffix>
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button> -->
                <!-- <button 
                    (mousedown)="hidePassword = false"
                    (mouseup)="hidePassword = true"
                    mat-icon-button
                    matSuffix>
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button> -->
                <button 
                    (click)="onShowPassword()"
                    mat-icon-button
                    matSuffix>
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
            <button 
                *ngIf="ownerName !== 'Marko'" 
                (click)="this.ownerName = 'Marko'" 
                type="button" 
                mat-raised-button 
                color="primary">Reset</button>
        </section>
        <!-- <label for="ownerName-input">Owner's name: </label>
        <input type="text" [(ngModel)]="ownerName" id="ownerName-input">
        <button *ngIf="this.ownerName !== 'Marko'" type="button" (click)="this.ownerName = 'Marko'">Reset</button> -->
    </div>
    
    
    <!-- <form (ngSubmit)="onAddBookSubmit(form)" #form="ngForm">
        <h4>Add new book - fill data</h4>
        <input type="text" ngModel name="name" placeholder="enter a book name" required>
        <input type="text" ngModel name="imgPath" placeholder="enter a book's image path">
        <textarea name="description" cols="30" rows="5" ngModel name="description" placeholder="enter a description for book"></textarea>
        <button [disabled]="!form.valid" type="submit">Add book</button>
    </form> -->
    <div fxLayout="column" fxLayoutAlign="center center">
        <hr>
        <section fxLayout="column" fxLayoutAlign="center center">
            <form (ngSubmit)="onAddBookSubmit(form)" #form="ngForm" fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field appearance="fill">
                    <input 
                        type="text" 
                        placeholder="Book's name"
                        ngModel
                        name="name"
                        matInput
                        #nameInput="ngModel"
                        required>
                    <mat-error *ngIf="nameInput.hasError('required')">name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input 
                        type="text"
                        placeholder="Book's image path"
                        ngModel
                        name="imgPath"
                        matInput
                        #imgPathInput="ngModel">
                        <!-- <mat-error *ngIf="imgPathInput.hasError('required')">image path is required</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="fill" hintLabel="Should be at least 6 characters long.">
                    <textarea 
                        ngModel
                        name="description"
                        placeholder="Some description..."
                        matInput
                        cols="30" 
                        rows="5"
                        minlength="6"
                        required
                        #descriptionTextArea="ngModel"></textarea>
                    <mat-error *ngIf="descriptionTextArea.hasError('required')">description is required</mat-error>
                    <mat-hint align="end">{{ descriptionTextArea.value?.length }} / 6</mat-hint>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>
            </form>
        </section>
        <hr>
    </div>


    <h2>Books</h2>
    <app-book *ngFor="let book of books" [book]="book" (onRemoveBook)="onRemove(book)"></app-book>
</div>
