<article class="book">
    <img [src]="book.getImgPath()" alt="book's img" height="200px">
    <h4>{{ book.getName() }}</h4>
    <p>description: {{ book.getDescription() }}</p>
    <button (click)="onRemove()">Remove</button>
</article>