#containerprimer {
    display: flex;
    width: 100%;
    height: 700px;
    border: 1px solid black;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.childprimer {
    height: 200px;
    width: 200px;
    /* flex: 1; */
}

#child1primer {
    background-color: red;
    /* flex: 2; */
}
#child2primer {
    background-color: green;
}
#child3primer {
    background-color: blue;
}

/* 
main-axis zavisi od vrednosti atributa flex-direction-a
ukoliko je flex-direction: column, main-axis je od gore ka dole, a
ukoliko je flex-direction: row, main-axis je s' leva na desno

atribut justify-content se odnosi na main-axis

atribut align-items se odnosi na cross-axis to je suprotna osa u 
odnosu na main-axis, dakle ako je main-axis sa leva na desno onda 
je cross-axis od gore ka dole, a ako je main-axis od gore ka dole, 
onda je cross-axis sa leva na desno
*/

mat-form-field {
    width: 300px;
}

button {
    margin: 10px 0;
}

section {
    margin: 20px 0 0 0;
}