<!-- 
    flex-direction: row; <- default <-> fxLayout (row default)
    fxLayoutAlign:
        prvo ide vrednost po main-axis (justify-content),
        pa onda po cross-axis (align-items)
        npr. fxLayoutAlign="center center"
 -->
<section
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">
        <form 
            (ngSubmit)="onSubmit(form)" 
            #form="ngForm" 
            fxLayout="column" 
            fxLayoutAlign="center center"
            fxLayoutGap="10px"
            *ngIf="!loading">
                <mat-form-field>
                    <input 
                        type="email" 
                        matInput 
                        ngModel 
                        name="email" 
                        placeholder="Your email" 
                        email 
                        required 
                        #emailInput="ngModel">
                    <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
                    <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
                </mat-form-field>
                <mat-form-field hintLabel="Should be at least 6 characters long.">
                    <input 
                        type="password" 
                        matInput 
                        ngModel 
                        name="password" 
                        placeholder="Your password" 
                        minlength="6" 
                        required 
                        #pwInput="ngModel">
                    <!-- errors overrides hints -->
                    <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
                    <mat-error *ngIf="pwInput.hasError('required')">Password shouldn't be empty</mat-error>
                    <!-- <mat-error>Has to be at least 6 characters long.</mat-error> -->
                </mat-form-field>
                <mat-form-field>
                    <input
                        ngModel
                        name="birthday" 
                        matInput 
                        [matDatepicker]="picker" 
                        placeholder="Your birthday" 
                        [max]="maxDate"
                        required>
                    <!-- <mat-datepicker-toggle> 'dugme' koje otvara <mat-datepicker> -->
                    <mat-datepicker-toggle [for]="picker" matSuffix color="primary"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-checkbox 
                    [labelPosition]="'after'"
                    ngModel
                    name="agree"
                    color="primary"
                    required>Agree to Terms and Conditions.</mat-checkbox>
                <button 
                    type="submit" 
                    mat-raised-button 
                    color="primary"
                    [disabled]="form.invalid">Submit</button>
                <!-- <button type="submit" mat-raised-button color="primary" [disabled]="!pwInput.valid">Submit</button> -->
        </form>
    
        <mat-spinner
            diameter="60"
            *ngIf="loading"></mat-spinner>
</section>

<!-- <section id="container">
    <div id="child1" class="child"></div>
    <div id="child2" class="child"></divs>
    <div id="child3" class="child"></div>
</section> -->