/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* sa time dodato sve angular/material components ce koristiti te boje */

html, body {
    /* koristice Roboto font-family ili ako ne uspe sans-serif */
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    margin: 0;
}