<!-- <section
    fxLayoutAlign="center">
        <mat-form-field
            *ngIf="dataSource.data.length > 0">
                <input 
                    type="text"
                    matInput
                    placeholder="Your filter"
                    [(ngModel)]="filter"
                    (keyup)="onKeyUp()">
        </mat-form-field>
</section> -->

<section
    fxLayoutAlign="center">
        <mat-form-field
            fxFlex="300px"
            *ngIf="dataSource.data.length > 0">
                <input 
                    type="text"
                    matInput
                    placeholder="Your filter"
                    (keyup)="onKeyUp($event.target.value)">
        </mat-form-field>
</section>


<section
    *ngIf="dataSource.data.length > 0">

        <mat-table
            [dataSource]="dataSource"
            matSort>

            <!-- Rows -->
            <!-- Header and row declaration -->
            <mat-header-row
                *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row
                *matRowDef="let row; columns: displayedColumns"></mat-row>

            <!-- 'date', 'name', 'duration', 'calories', 'state' -->
            <!-- Columns -->
            <ng-container
                [matColumnDef]="'date'">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header>Date</mat-header-cell>
                    <mat-cell
                        *matCellDef="let element"> {{ element.getDate() | date }} </mat-cell>
            </ng-container>

            <ng-container
                [matColumnDef]="'name'">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header>Name</mat-header-cell>
                    <mat-cell
                        *matCellDef="let element"> {{ element.getName() }} </mat-cell>
            </ng-container>

            <ng-container
                [matColumnDef]="'calories'">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header>Calories</mat-header-cell>
                    <mat-cell
                        *matCellDef="let element"> {{ element.getCalories() | number }} </mat-cell>
            </ng-container>

            <ng-container
                matColumnDef="duration">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header>Duration</mat-header-cell>
                    <mat-cell
                        *matCellDef="let element"> {{ element.getDuration() | number }} </mat-cell>
            </ng-container>

            <ng-container
                [matColumnDef]="'state'">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header>State</mat-header-cell>
                    <mat-cell
                        *matCellDef="let element"> {{ element.getState() }} </mat-cell>
            </ng-container>

        </mat-table>

        <section
            [hidden]="!(dataSource.data.length > pageSizeOptions[0])">
            <!-- Pagination -->
                <mat-paginator
                    [pageSize]="pageSizeOptions[0]"
                    [pageSizeOptions]="pageSizeOptions"
                    #paginator></mat-paginator>
        </section>

</section>