<style>

</style>

<section
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">
        <form
            (ngSubmit)="onSubmit()"
            [formGroup]="loginForm"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="10px">
                <mat-form-field appearance="fill">
                    <input 
                        type="text"
                        placeholder="Your E-Mail"
                        matInput
                        [formControlName]="'email'">
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">Email is required</mat-error>
                    <mat-error *ngIf="loginForm.get('email').hasError('email')">Email is invalid</mat-error>
                </mat-form-field>
                <mat-form-field 
                    appearance="fill"
                    hintLabel="Must be at least 6 characters long.">
                        <input 
                            [type]="showPassword ? 'text' : 'password'"
                            placeholder="Your password"
                            matInput
                            [formControlName]="'password'">
                        <button
                            type="button"
                            (click)="onShowPassword()"
                            matSuffix
                            mat-icon-button
                            color="primary">
                                <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </button>
                        <mat-hint *ngIf="loginForm.get('password').value?.length > 0" align="end">{{ loginForm.get('password').value?.length }} / 6</mat-hint>
                        <mat-error *ngIf="loginForm.get('password').hasError('required')">Password is required</mat-error>
                        <!-- <mat-error *ngIf="loginForm.get('password').hasError('minlength')">Password is invalid</mat-error> -->
                    </mat-form-field>
                <button 
                    type="submit"
                    mat-raised-button
                    color="primary"
                    [disabled]="loginForm.invalid"
                    *ngIf="!loading">Submit</button>
                <mat-spinner
                    diameter="40"
                    *ngIf="loading"></mat-spinner>
        </form>
</section>