.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    padding: 10px;
    margin: 10px;
}

h4 {
    font-weight: 300;
}