<mat-nav-list>
    <!-- <a mat-list-item routerLink="">Home :)</a> -->
    <mat-list-item (click)="onCloseSidenav()" routerLink="" *ngIf="isAuth">
        <mat-icon matListIcon>home</mat-icon>
        <a matLine>Home :)</a>
    </mat-list-item>
    <a mat-list-item routerLink="books" (click)="onCloseSidenav()" *ngIf="isAuth">Books</a>
    <mat-list-item (click)="onCloseSidenav()" routerLink="auth/login" *ngIf="!isAuth">
        <mat-icon>input</mat-icon>
        <a matLine>Login</a>
    </mat-list-item>
    <mat-list-item (click)="onCloseSidenav()" routerLink="auth/signup" *ngIf="!isAuth">
        <mat-icon>face</mat-icon>
        <a matLine>Signup</a>
    </mat-list-item>
    <mat-list-item (click)="onLogout()" *ngIf="isAuth">
        <p class="hover-lightgray" matLine>Logout</p>
    </mat-list-item>
</mat-nav-list>

<!-- <mat-nav-list> -->
    <!-- <a mat-list-item routerLink="">Home :)</a> -->
    <!-- <mat-list-item (click)="onCloseSidenav()">
        <mat-icon matListIcon>home</mat-icon>
        <a matLine routerLink="">Home :)</a>
    </mat-list-item>
    <a mat-list-item routerLink="books" (click)="onCloseSidenav()">Books</a>
    <mat-list-item (click)="onCloseSidenav()">
        <mat-icon>input</mat-icon>
        <a matLine routerLink="auth/login">Login</a>
    </mat-list-item>
    <mat-list-item (click)="onCloseSidenav()">
        <mat-icon>face</mat-icon>
        <a matLine routerLink="auth/signup">Signup</a>
    </mat-list-item>
    <mat-list-item (click)="onCloseSidenav()">
        <p class="hover-lightgray" matLine>Logout</p>
    </mat-list-item>
</mat-nav-list> -->