<style>
    hr {
        width: 25%;
    }
</style>

<section
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">
    <h3>WebRTC</h3>
    <video
        autoplay 
        playsinline
        controls="false"
        #videoElement></video>
    <button
        type="button"
        (click)="onPlayVideo(videoElement)"
        mat-button>Play video</button>
    <section>
        <button
            type="button"
            (click)="onToggleVideoOrAudio('video')"
            mat-button>Toggle video</button>
        <button
            type="button"
            (click)="onToggleVideoOrAudio('audio')"
            mat-button>Toggle audio</button>
    </section>
    <hr>
    <button
        type="button"
        (click)="onGetMediaStreamTracks()"
        mat-button
        color="primary">Get media stream tracks</button>
    <button
        type="button"
        (click)="onQueryMediaDevices()"
        mat-raised-button>Query media devices</button>
</section>