a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

#logout {
    background-color: inherit;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
    font: inherit;
}

#logout:hover {
    color: lightgray;
}

#logout:focus {
    outline: none;
}