<style>
    
</style>

<section
    fxLayoutAlign="center">
    <form
        (ngSubmit)="form.valid && onSubmit(form)"
        #form="ngForm"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        fxFlex.gt-xs="350px"
        fxFlex>
            <mat-form-field>
                <input 
                    type="email"
                    placeholder="Your E-Mail"
                    matInput
                    ngModel
                    name="email"
                    email
                    required
                    #email="ngModel">
                <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="email.hasError('email')">Email is invalid</mat-error>
            </mat-form-field>

            <mat-form-field
                hintLabel="Must be at least 6 characters long.">
                    <input 
                        [type]="showPassword ? 'text' : 'password'"
                        placeholder="Your Password"
                        matInput
                        ngModel
                        name="password"
                        minlength="6"
                        required
                        #password="ngModel">
                    <button
                        (click)="onShowPassword()"
                        type="button"
                        mat-icon-button
                        matSuffix>
                        <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <mat-hint
                        align="end"
                        *ngIf="password.value?.length > 0">{{ password.value?.length }} / 6</mat-hint>
                    <!-- <mat-error *ngIf="password.hasError('')"></mat-error> -->
            </mat-form-field>

            <mat-form-field>
                <mat-label>Confirm password</mat-label>
                <input 
                    type="password"
                    matInput
                    ngModel
                    name="confirm-password"
                    [mustMatch]="{original: password, mustMatch: confirmPassword}"
                    required
                    #confirmPassword="ngModel">
                <mat-error
                    *ngIf="confirmPassword.hasError('required')">Confirming password is required</mat-error>
                <mat-error
                    *ngIf="confirmPassword.hasError('mustMatch')">Not matching</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input
                    matInput
                    [matDatepicker]="picker"
                    placeholder="Your Birthday"
                    ngModel
                    name="birthday"
                    [max]="maxAllowedDate"
                    required
                    #birthday="ngModel">
                <mat-datepicker-toggle 
                    matSuffix 
                    [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                    *ngIf="birthday.hasError('required')">Birthday is required</mat-error>
                <mat-error
                    *ngIf="birthday.hasError('matDatepickerMax')">You must be 18+</mat-error>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Choose book you like the most</mat-label>
                <mat-select
                    ngModel
                    name="book-name"
                    required
                    #bookName="ngModel">
                    <mat-option>--</mat-option>
                    <mat-option value="harry-potter">Harry Potter</mat-option>
                    <mat-option value="spiderman">Spiderman</mat-option>
                    <mat-option value="peter-pan">Peter Pan</mat-option>
                    <mat-option value="other">Some other book</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="bookName.hasError('required')">Please select some option</mat-error>
            </mat-form-field>

            <mat-checkbox
                ngModel
                name="keep-updated"
                color="primary">Keep me updated</mat-checkbox>

            <button
                type="submit"
                mat-button>Signup</button>
        
    </form>
</section>