mat-form-field {
    width: 300px;
}

section {
    /* border: 1px solid black; */
}

form {
    padding: 10px;
    border-radius: 5%;
    box-shadow: 0 2px lightgray;
    /* border: 1px solid black; */
}