<h3>{{ logoutDialog.name }} are you sure?</h3>
<button
    type="button"
    (click)="onResult(false)"
    mat-button>No</button> | 
<button
    type="button"
    (click)="onResult(true)"
    mat-button>Yes</button>