<style>
    a {
        text-decoration: none;
        color: white;
    }

    #logout-button {
        border: none;
        background-color: inherit;
        color: inherit;
        font: inherit;
        padding: 0;
        cursor: pointer;
    }

    #logout-button:focus {
        outline: none;
    }

    mat-toolbar button:hover, a:hover, #logout-button:hover {
        color: lightgray;
    }

</style>

<mat-sidenav-container>
    <mat-sidenav
        role="navigation"
        #sidenav>

    </mat-sidenav>

    <mat-sidenav-content
        fxLayout="column"
        fxLayoutAlign="start center">
            <!-- toolbar -->
            <mat-toolbar
                fxLayoutGap="10px"
                color="primary">
                    <button
                        type="button"
                        mat-icon-button
                        (click)="sidenav.open()">
                            <mat-icon>menu</mat-icon>
                    </button>
                    

                    <section
                        fxFlex
                        fxLayoutAlign="end center"
                        fxLayoutGap="10px">
                            <a routerLink="login">Login</a>
                            <a routerLink="signup">Signup</a>
                            <!-- <button
                                id="logout-button"
                                type="button">
                                    Logout
                            </button> -->
                            <button
                                type="button"
                                mat-icon-button
                                [matMenuTriggerFor]="mainMenu">
                                    <mat-icon>person</mat-icon>
                            </button>
                            <mat-menu 
                                #mainMenu>
                                    <button 
                                        type="button"
                                        role="menuitem"
                                        mat-menu-item
                                        #subMenuTrigger="matMenuTrigger"
                                        [matMenuTriggerFor]="subMenu"
                                        (menuClosed)="onMenuClosed()"
                                        (menuOpened)="onMenuOpened()">
                                            <mat-icon>{{ iconFindName }}</mat-icon>
                                            <span>Find</span>
                                    </button>
                                    <button 
                                        type="button"
                                        role="menuitem"
                                        mat-menu-item>
                                            <mat-icon>exit_to_app</mat-icon>
                                            <span>Logout</span>
                                    </button>
                            </mat-menu>
                            <mat-menu 
                                #subMenu>
                                    <button 
                                        type="button"
                                        role="menuitem"
                                        mat-menu-item>Hotels</button>
                                    <button 
                                        type="button"
                                        role="menuitem"
                                        mat-menu-item>Flights</button>
                                    <button 
                                        type="button"
                                        role="menuitem"
                                        mat-menu-item>Cars</button>
                            </mat-menu>
                    </section>
            </mat-toolbar>
            <br>
            <!-- <button 
                type="button"
                mat-button
                (click)="toggleFindMenu(mainMenuTrigger)">
                    <span>Logout</span>
            </button>
            <button 
                type="button"
                mat-button
                (click)="toggleFindMenu(subMenuTrigger)">
                    <span>s</span>
            </button> -->
            <main>
                <router-outlet></router-outlet>
            </main>
    </mat-sidenav-content>
</mat-sidenav-container>