<mat-nav-list>
    <!-- <a mat-list-item routerLink="">Home :)</a> -->
    <mat-list-item (click)="onCloseSidenav()">
        <mat-icon matListIcon>home</mat-icon>
        <a matLine routerLink="">Home :)</a>
    </mat-list-item>
    <mat-list-item (click)="onCloseSidenav()">
        <mat-icon>face</mat-icon>
        <a matLine routerLink="auth/signup">Signup</a>
    </mat-list-item>
    <mat-list-item (click)="onCloseSidenav()">
        <mat-icon>input</mat-icon>
        <a matLine routerLink="auth/login">Login</a>
    </mat-list-item>
    <a mat-list-item routerLink="books" (click)="onCloseSidenav()">Books</a>
    <mat-list-item (click)="onCloseSidenav()">
        <p class="hover-lightgray" matLine>Logout</p>
    </mat-list-item>
    <mat-list-item (click)="onCloseSidenav()">
        <h2 class="hover-lightgray" matLine>Close</h2>
        <p class="hover-lightgray" matLine>-----</p>
    </mat-list-item>
</mat-nav-list>

<!-- <mat-nav-list>
    <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <a matLine routerLink="" (click)="onCloseSidenav()">Home :)</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>face</mat-icon>
        <a matLine routerLink="auth/signup" (click)="onCloseSidenav()">Signup</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>input</mat-icon>
        <a matLine routerLink="auth/login" (click)="onCloseSidenav()">Login</a>
    </mat-list-item>
    <a mat-list-item routerLink="books" (click)="onCloseSidenav()">Books</a>
    <mat-list-item>
        <p matLine (click)="onCloseSidenav()">Logout</p>
    </mat-list-item>
    <mat-list-item (click)="onCloseSidenav()">
        <h2 matLine>Close</h2>
        <p matLine>-----</p>
    </mat-list-item>
</mat-nav-list> -->