<style>

</style>

<section 
    fxLayout
    fxLayoutAlign="center"
    class="new-training">
        <form
            (ngSubmit)="form.valid && onSubmit(form)"
            #form="ngForm">
                <mat-card
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    fxFlex.xs="100%"
                    fxFlex.gt-xs="400px">
                        <mat-card-title>Time to start a workout!</mat-card-title>
                        <mat-card-content
                            *ngIf="!loading && exercises">
                                <mat-form-field>
                                    <!-- <mat-label>Select type of training</mat-label> -->
                                    <mat-select 
                                        placeholder="Select type of training"
                                        ngModel
                                        name="selectedExercise"
                                        required
                                        #selectedExercise="ngModel">
                                            <mat-option 
                                                *ngFor="let exercise of exercises"
                                                [value]="exercise.getId()">
                                                    {{ exercise.getName() }}
                                            </mat-option>
                                    </mat-select>
                                    <mat-error
                                            *ngIf="selectedExercise.hasError('required')">Please select one exercise</mat-error>
                                </mat-form-field>
                        </mat-card-content>
                        <mat-spinner
                            diameter="40"
                            *ngIf="loading"></mat-spinner>
                        <mat-card-actions
                            *ngIf="!loading">
                                <button 
                                    type="submit"
                                    mat-button
                                    [disabled]="form.invalid"
                                    *ngIf="exercises">Start</button>
                                <button 
                                    type="button"
                                    mat-button
                                    (click)="onFetchAgain()"
                                    *ngIf="!exercises">Fetch Again</button>
                        </mat-card-actions>
                </mat-card>
        </form>
</section>