<!-- mat-toolbar vec koristi FlexBox -->
<mat-toolbar 
    color="primary"
    fxLayout="row"
    fxLayoutAlign="flex-start center"
    fxLayoutGap="5px">
        <div
            fxHide.gt-xs>
                <button
                    (click)="sidenav.toggle()"
                    mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
        </div>
        <div>
            <a routerLink="">NG Fitness</a>
        </div>
        <!-- 
            ovo:
            <div
                fxFlex>

            </div>
            <div>
                <a routerLink="auth/signup">Signup</a>
                <a routerLink="auth/login">Login</a>
                <a routerLink="auth/trainings">Trainings</a>
            </div>
            ili:
        -->
        <!-- 
            sa dodavanjem atributa fxFlex u style se dodaje flex: 1 1 0%,
            to znaci da ce taj div zauzeti svo slobodno mesto, a ne samo koliko
            njegovoj 'deci' treba
        -->

        <div
            fxFlex
            fxLayout
            fxLayoutAlign="flex-end"
            fxHide.xs
            id="d">
                <ul
                    fxLayout
                    fxLayoutGap="10px"
                    class="navigation-items">
                        <li
                            *ngIf="!isAuth">
                            <a routerLink="auth/signup">Signup</a>
                        </li>
                        <li
                            *ngIf="!isAuth">
                            <a routerLink="auth/login">Login</a>
                        </li>
                        <li
                            *ngIf="isAuth">
                            <a routerLink="trainings">Trainings</a>
                        </li>
                        <li
                            *ngIf="isAuth">
                            <button
                                id="logout"
                                (click)="onLogout()">Logout</button>
                        </li>
                </ul>
        </div>
</mat-toolbar>