<mat-nav-list>
    <a mat-list-item routerLink="auth/signup" (click)="onCloseSidenav()" *ngIf="!isAuth">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Signup</span>
    </a>
    <a mat-list-item routerLink="auth/login" (click)="onCloseSidenav()" *ngIf="!isAuth">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Login</span>
    </a>
    <a mat-list-item routerLink="trainings" (click)="onCloseSidenav()" *ngIf="isAuth">
        <mat-icon>directions_run</mat-icon>
        <span class="nav-caption">Trainings</span>
    </a>
    <mat-list-item *ngIf="isAuth">
        <button
            type="button"
            mat-icon-button
            (click)="onLogout()">
                <mat-icon>eject</mat-icon>
                <span class="nav-caption">Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>