/* form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    background-color: lightsteelblue;
    padding: 5px;
    border: 1px solid lightslategrey;
} */

#section-owner-name {
    background-color: whitesmoke;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5%;
    box-shadow: 0 2px lightslategrey;
}

h4 {
    font-weight: 100;
    text-align: center;
}

div {
    margin: 10px 0;
    /* border: 1px solid black; */
}

hr {
    width: 25%;
}

a {
    color: inherit;
    text-decoration: none;
}

form {
    padding: 10px 10px;
    background-color: whitesmoke;
    box-shadow: 0 2px lightslategrey;
    border-radius: 5%;
}

mat-form-field {
    width: 300px;
}

button {
    margin: 10px 0;
}