<style>
    /* mat-tab-group {
        padding: 0 5%;
        border: 1px solid black;
    } */

</style>

<mat-tab-group *ngIf="!ongoingTraining">
    <mat-tab label="New Exercise">
        <app-new-training></app-new-training>
    </mat-tab>
    <mat-tab label="Past Exercises">
        <app-past-trainings></app-past-trainings>
    </mat-tab>
</mat-tab-group>
<app-current-training
    *ngIf="ongoingTraining"></app-current-training>