<!-- <button mat-button>Click me</button>
<button mat-raised-button color="accent">Click me</button>

<button mat-icon-button color="accent">
    <mat-icon>home</mat-icon>
</button>
<hr> -->
<!-- Using ng serve --host 0.0.0.0 will allow you to connect to the ng serve using your ip instead of localhost -->
<mat-sidenav-container>
    <!-- 
        mat-sidenav-container treba da sadrzi:
        mat-sidenav i mat-sidenav-content nemoj ih 'obmotavati'
        drugim komponentama(svojim) pa ih onda ovde inicijalizovati!

        izgleda da po dokumentaciji mat-sidenav-container ocekuje da
        ima direktnu decu (mat-sidenav i mat-sidenav-content), a ne
        'wrapper-e' koji ih sadrze
     -->

    <!-- navigacija koja je uglavnom na vrhu stranice -->
    <!-- atribut role="navigation" se stavlja zbog dostupnosti navigacije -->
    <mat-sidenav
        role="navigation"
        #sidenav>
        <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <!-- 
        omogucava da svaka stranica na koju bude navigirano(welcome, login, signup...)
        ima navigaciju
    -->
    <mat-sidenav-content>
        <app-header [sidenav]="sidenav"></app-header>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>