<style>
    .current-training {
        padding: 30px;
    }
</style>

<section
    class="current-training"
    fxLayout="column"
    fxLayoutAlign="center center">
    <mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
    <h1>{{ progress }} % </h1>
    <p>keep on going, you can do it!</p>
    <button 
        type="button" 
        (click)="onStop()"
        mat-raised-button
        color="accent">Stop</button>
</section>