<style>

</style>

<section
    fxLayoutAlign="center">
        <mat-card
            fxLayoutAlign="center"
            fxFlex.gt-xs="350px"
            fxFlex>
                <form
                    [formGroup]="loginForm"
                    (ngSubmit)="loginForm.valid && onSubmit()"
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    fxLayoutGap="10px">
                        <mat-card-header>
                            <mat-card-title>Books</mat-card-title>
                            <mat-card-subtitle>we love the most</mat-card-subtitle>
                            <img 
                                src="https://pngimg.com/uploads/book/book_PNG51090.png" 
                                alt="book png"
                                mat-card-avatar>
                        </mat-card-header>
                        
                        <mat-form-field appearance="fill">
                            <input 
                                formControlName="email"
                                type="email"
                                placeholder="Your E-Mail"
                                matInput>
                            <mat-error
                                *ngIf="loginForm.get('email').hasError('required')">Email is required</mat-error>
                            <mat-error
                                *ngIf="loginForm.get('email').hasError('email')">Email is invalid</mat-error>
                        </mat-form-field>

                        <mat-form-field
                            appearance="fill"
                            hintLabel="Must be at least 6 characters long.">
                                <mat-label>Your Password</mat-label>
                                <input 
                                    formControlName="password"
                                    [type]="showPassword ? 'text' : 'password'"
                                    matInput>
                                <button
                                    type="button"
                                    mat-icon-button
                                    matSuffix
                                    (click)="onShowPassword()">
                                    <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                                </button>
                                <mat-hint 
                                    align="end"
                                    *ngIf="loginForm.get('password').value?.length > 0">{{ loginForm.get('password').value?.length }} / 6</mat-hint>
                        </mat-form-field>

                        <mat-card-actions>
                            <button
                                type="submit"
                                mat-raised-button
                                color="primary"
                                [disabled]="loginForm.invalid">
                                    Login
                            </button>
                        </mat-card-actions>
                </form>
        </mat-card>
</section>