mat-form-field {
    width: 300px;
}

form {
    padding: 10px;
    /* border: 1px solid black; */
    border-radius: 5%;
    box-shadow: 0 2px lightgray;
}

section {
    margin: 20px 0 0 0;
    /* border: 1px solid red; */
}