
<h1 mat-dialog-title>{{ stopTrainingDialogData.name }} are you sure?</h1>
<mat-dialog-content>
    <p>You already got {{ stopTrainingDialogData.progress }} %</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button
        type="button"
        mat-button
        (click)="onResultSet(true)">
            Yes
    </button>
    <button
        type="button"
        mat-button
        (click)="onResultSet(false)">
            No
    </button>
</mat-dialog-actions>